@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,700i|Spectral:400,400i');

body{
  max-width: 900px;
    margin: 0 auto;
    clear: none;
    width: 100%;
    text-align: center;
}

header {
  background-color: #FCEE21;
  color: #333333;
  text-align: center;
  padding: 30px;
}

img {
  display: block;
   margin: 0 auto;
}

h1 {
  font-family: "open sans";
  font-weight: 700;
  font-size: 40px;
  text-align: center;
}

nav {
  font-family: "open sans";
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}

a {
  text-decoration: none;
  color: #333333;
  padding-bottom: 2px;
  border-bottom: 2px solid black;
  margin: 10px;
}
h2 {
  font-family: "open sans";
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}

h3 {
  font-family: "spectral";
  font-size: 22px;
  text-align: center;
  font-style: italic;
}

p {
  font-family: "spectral";
  font-size: 20px;
  text-align:justify;
}

footer{
  font-family: "spectral";
  background-color: #FCEE21;
  color: #333333;
  text-align: center;
  padding: 30px;
}
